.container {
  background-color: #f0f0f0;
}
.wrapper {
  margin: auto;
  width: 400px;
}
.main {
  width: 400px;
  margin: 80px auto;
}
.announcement_container_unread {
  padding: 10px 18px;
  font-size: 14px;
  background-color: #fff;
  color: #5e5873;
  border-top: 0.5px solid #ebe9f1;
  border-bottom: 0.5px solid #ebe9f1;
}
.announcement_container {
  padding: 10px 18px;
  font-size: 14px;
  background-color: #f0f0f0;
  color: #5e5873;
  border-top: 0.5px solid #ebe9f1;
  border-bottom: 0.5px solid #ebe9f1;
}
.announcement_container :last-child {
  margin: auto 0;
}
.announcement_circle {
  height: 42px;
  width: 42px;
  background-color: #ccc;
  border-radius: 50px;
  margin: auto;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding-top: 12px;
}
@media screen and (min-width: 600px) {
  .wrapper {
    margin: 0 auto;
    width: 540px;
  }
  .main {
    width: 496px;
  }
}
