.container {
  background-color: #f0f0f0;
}
.wrapper {
  margin: auto;
  width: 400px;
}
.bg_top {
  background-color: #41867a;
  background-size: cover;
  height: 252px;
  padding: 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  width: 400px;
  z-index: -2;
}
.user_info_grid {
  padding: 16px 22px;
  display: grid;
  grid-template-columns: 15% 75% 10%;
  height: 75px;
  text-align: left;
  align-items: center;
  margin: auto;
  color: #fff;
  background-color: #41867a;
}
.pp {
  width: 57px;
  height: 57px;
  background-color: #fff;
  border-radius: 50%;
  object-fit: cover;
}
.notif {
  width: 20px;
}
.menu_grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  margin-top: 12px;
  width: 356px;
}
.menu_grid3 div {
  align-items: center;
  text-align: center;
  height: 37px;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 22px;
  border: 0.5px solid #fff;
  border-radius: 24px;
  cursor: pointer;
}
.menu_grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  margin-top: 12px;
  width: 356px;
}
.menu_grid1 div {
  align-items: center;
  text-align: center;
  height: 37px;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 22px;
  border: 0.5px solid #fff;
  border-radius: 24px;
  cursor: pointer;
}
.focus_menu {
  background: #fff;
  color: #41867a;
}
.menu {
  background: #48988a;
  color: #fff;
}
.overview {
  display: grid;
  padding: 17px 22px;
  grid-template-columns: 60% 40%;
}
.date {
  background-color: #d1e4e1;
  font-size: 12px;
  font-weight: 600;
  color: #41867a;
  padding: 1px 9px;
  border-radius: 5px;
  text-align: center;
}
.plan_container {
  padding: 30px 27px;
  text-align: center;
}

.main {
  width: 356px;
}

.unplan_grid {
  display: grid;
  grid-template-columns: 12% 60% 28%;
  color: #5e5873;
  padding: 19px 11px;
}
.unplan_grid div {
  align-self: center;
}
.unplan_grid2 {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  color: #5e5873;
  padding: 19px 11px;
}
.unplan_grid2 div {
  align-self: center;
}
.num_total_unplan {
  color: #feb800;
  font-size: 24px;
  text-align: center;
}
.add_unplan {
  text-align: center;
  color: #41867a;
  font-size: 36px;
  font-weight: 600;
  width: 38px;
  height: 38px;
  background-color: #e8f0ef;
  border-radius: 6px;
}

.pie_percentage {
  color: #5e5873;
  font-weight: 500;
  font-size: 18px;
  position: absolute;
  width: 125px;
  text-align: center;
  margin-top: 55px;
}
.progress_title {
  font-size: 18px;
  font-weight: 500;
  color: #5e5873;
  text-align: left;
}
.progress_number {
  color: #5e5873;
  font-size: 14px;
  text-align: end;
  margin: auto 0;
  font-weight: 500;
}
.progress_bar {
  border-radius: 50px;
  width: 100%;
  height: 15px;
  background-color: #feb80033;
}
.progress_bar_now {
  border-radius: 50px;
  width: 100%;
  height: 15px;
  background-color: #feb800;
  position: relative;
  top: -15px;
  max-width: 100%;
}

.reward_grid {
  display: grid;
  grid-template-columns: 12% 60% 28%;
  color: #5e5873;
  padding: 19px 11px;
}
.reward_grid div {
  align-self: center;
}
.reward_grid2 {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  color: #5e5873;
  padding: 19px 11px;
}
.reward_grid2 div {
  align-self: center;
}
.add_reward {
  text-align: center;
  color: #41867a;
  font-size: 36px;
  font-weight: 600;
  width: 38px;
  height: 38px;
  background-color: rgba(254, 184, 0, 0.12);
  border-radius: 6px;
}
@media screen and (min-width: 600px) {
  .wrapper {
    margin: 0 auto;
    width: 540px;
  }
  .main {
    width: 496px;
  }
  .main_menu_container {
    width: 500px;
  }
  .menu_grid3 {
    width: 496px;
  }
  .menu_grid1 {
    width: 496px;
  }
  .bg_top {
    width: 540px;
  }
  .overview {
    grid-template-columns: 72% 28%;
  }
}
