.container {
  background-color: #f0f0f0;
}
.wrapper {
  margin: auto;
  width: 400px;
}

.main {
  width: 356px;
}

.bg_top {
  background-color: #41867a;
  background-size: cover;
  height: 155px;
  padding: 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  width: 400px;
  z-index: -2;
}

.user_info_grid {
  padding: 16px 22px;
  height: 75px;
  align-items: center;
  margin: auto;
  background-color: #41867a;
}

.input {
  width: 100%;
  height: 38px;
  border: 1px solid #e9ecf2;
  border-radius: 5px;
  font-size: 15px;
  padding: 0 10px;
  margin: 0 0 14px 0;
}

.pp {
  width: 150px;
  padding: 8px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

.notif {
  width: 20px;
  margin: 20px;
}

@media screen and (min-width: 600px) {
  .wrapper {
    margin: 0 auto;
    width: 540px;
  }
  .main {
    width: 496px;
  }
  .bg_top {
    width: 540px;
  }
}
