.container {
  background-color: #f0f0f0;
}
.wrapper {
  margin: 0 auto;
  width: 400px;
}
.main {
  padding: 70px 20px 0 20px;
}
.render_data {
  color: #5e5873;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.avability_modal_subtitle {
  color: #5e5873;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
}
.render_value {
  font-size: 12px;
  font-weight: 400;
  padding: 8px 15px;
}

.input {
  width: 100%;
  height: 32px;
  border: 1px solid #e9ecf2;
  padding: 0 10px 0 10px;
  margin: 10px auto;
  border-radius: 5px;
}
.input_order_search {
  width: 100%;
  height: 32px;
  border: 1px solid #d8d6de;
  padding: 0 10px 0 10px;
  margin: 10px 0 0 0;
  border-radius: 5px;
}
.input_order {
  width: 100%;
  height: 32px;
  border: 1px solid #d8d6de;
  padding: 0 10px 0 10px;
  margin: 10px 0 0 0;
  border-radius: 5px;
  text-align: center;
}

.visibility_grid {
  display: grid;
  grid-template-columns: 15% 75% 10%;
  margin: 20px 0;
  color: #b9b9c3;
  font-size: 12px;
}
.visibility_dropdown {
  margin: 0 14px;
}
.new_button {
  padding: 9px;
  cursor: pointer;
  border-radius: 4px;
  height: 35px;
  width: 35px;
  background-color: #feb800;
  text-align: center;
  margin: 0;
}
.input_file {
  display: none;
}

.progress_bar {
  border-radius: 20px;
  width: 100%;
  height: 8px;
  background-color: #feb80033;
}
.progress_bar_now {
  border-radius: 20px;
  width: 100%;
  height: 8px;
  background-color: #feb800;
  position: relative;
  top: -8px;
  max-width: 100%;
}
.avability_bot_container {
  position: fixed;
  bottom: 0;
  width: 400px;
  height: 75px;
  margin: auto;
  padding: 20px 22px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #fff;
  justify-items: center;
}
.avability_modal_container {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 400px;
  height: 400px;
  margin: auto;
  padding: 38px 22px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #fff;
  justify-items: center;
}
.avability_modal_main {
  margin: auto;
}
.modal_avability {
  width: 100%;
  height: 100%;
  background-color: #0003;
  position: absolute;
  z-index: 999;
  min-width: 400px;
  position: fixed;
}
.hidden_overflow {
  overflow: hidden;
}
.add_title {
  font-size: 28px;
  color: #41867a;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}
.stock_order_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.avabilitylist_title {
  font-size: 21px;
  color: #41867a;
  background-color: #41867a33;
  font-weight: 500;
  padding: 5px 8px;
  border-radius: 5px;
}
.avabilitylist_stock_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.avabilitylist_container {
  margin-top: 10px;
  background: #f0f0f0;
  border-radius: 5px;
  padding: 4px;
  text-align: center;
}
.avabilitylist_subtitle {
  color: #b9b9c3;
  font-size: 12px;
  font-weight: 400;
}
.avabilitylist_value {
  color: #5e5873;
  font-size: 12px;
  font-weight: 600;
}
.search_fixed {
  position: fixed;
  width: 360px;
  background: #f0f0f0;
}
@media screen and (min-width: 600px) {
  .wrapper {
    margin: 0 auto;
    width: 540px;
  }
  .input_file {
    width: 490px;
  }
  .nav_box {
    width: 540px;
  }
  .avability_bot_container {
    width: 540px;
  }
  .avability_modal_container {
    width: 540px;
  }
  .search_fixed {
    width: 500px;
  }
}
