.container {
  width: 100%;
  background-color: #fff;
  font-size: 12px;
  height: 32px;
  border: 1px solid #e9ecf2;
  padding: 0 10px 0 10px;
  border-radius: 5px;
}

@media screen and (min-width: 600px) {
}
